<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>System Overview</title>
</head>
<body>
    <div th:replace="~{fragments/navbar :: flash-list}"></div>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <main>
        <table>
            <tbody>
                <tr>
                    <th>System Name</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>MAC</th>
                    <th>STATUS</th>
                    <th></th>
                </tr>
                <tr th:each="system : ${systems}">
                    <td><a th:href="@{/system/{id}/show(id=${system.id})}" th:text="${system.prettyName}" href="#"></a></td>
                    <td th:text="${system.createdAt}"></td>
                    <td th:text="${system.updatedAt}"></td>
                    <td th:text="${system.macAddress}"></td>
                    <td th:text="${system.status}"></td>
                    <td>
                        <a th:if="${system.favourite}" th:href="@{/system/{id}/favourite(id=${system.id})}"><i class="fa-solid fa-heart-circle-xmark"></i></a>
                        <a th:unless="${system.favourite}" th:href="@{/system/{id}/favourite(id=${system.id})}"><i class="fa-regular fa-heart"></i></a>

                        <a th:href="@{/system/{id}/edit(id=${system.id})}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a th:href="@{/system/{id}/add-card(id=${system.id})}"><i class="fa-solid fa-address-card"></i></a>
                        <a th:href="@{/system/{id}/delete(id=${system.id})}"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>