button[type='submit'] {
    border: none;
    background: none;
    padding: 10px;
    border-radius: 5px;
}

main table tr:nth-child(even) button {
    background-color: var(--extra);
    color: var(--text);
}

main table tr button:hover {
    background-color: var(--main);
    color: var(--text);
    cursor: pointer;
}

main table td:nth-child(1) {
    min-width: 75px;
    width: 75px;
}

main table td:nth-child(3) {
    min-width: 50px;
    width: 50px;
}